footer {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
}

a {
  color: #540563;
  text-decoration: none;
}

a:hover {
  color: #bb3c43;
  position: relative;
  bottom: 4px;
  transition: .25s ease-out;
}
