footer {
  font-family: 'Staatliches', cursive;
  /*font-family: 'Suez One', serif;*/
  /*font-size: 14px;*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #bb3c43;
  position: relative;
  bottom: 4px;
  transition: .25s ease-out;
}

p{
  margin-bottom: 5px;
}
