footer {
  border: solid 7px black;
  border-radius: 20px;
  /*font-family: 'Staatliches', cursive;*/
  font-family: 'Poppins', sans-serif;
  /*font-family: 'Suez One', serif;*/
  font-size: 12px;
  font-weight: 600;
  margin: 10px 35%;
  padding-bottom: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #bb3c43;
  position: relative;
  bottom: 4px;
  transition: .25s ease-out;
}

p{
  margin-bottom: 5px;
}
