.body{
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  overflow-y: auto;
}

.left-side-bar {
  order: 1;
  position: absolute;
  top: 140px;
  left: 0;
  bottom: 55px;
  padding-left: 15px;
  max-width: 15%;
  overflow-y: auto;
}

.left-side-bar h3 {
  margin-bottom: 25px;
}

.left-side-bar h5 {
  color: #540563;
  margin: 0;
  padding: 0;
}

.left-side-bar .technologies {
  font-size: 11px;
  margin-top: 0;
  padding-top: 0;
}

.left-side-bar h5:hover {
  color: #bb3c43;
  cursor: pointer;
  position: relative;
  bottom: 4px;
  transition: .25s ease-out;
}

.right-side-bar {
  order: 3;
  max-width: 40%;
  padding-right: 20px;
  position: absolute;
  top: 140px;
  right: 0;
  bottom: 55px;
  overflow-y: auto;
}

.right-side-bar h2, h3 {
  margin-bottom: 0;
}

.right-side-bar h4 {
  display: inline;
}

.right-side-bar p {
  font-size: 14px;
  margin-top: 5px;
}

.right-side-bar a {
  color: #540563;
  margin-bottom: 0;
  text-decoration: none;
}

.right-side-bar a:hover {
  color: #bb3c43;
  position: relative;
  bottom: 4px;
  transition: .25s ease-out;
}

.right-side-bar .hosted {
  font-size: 11px;
}

.right-side-bar .demonstrates {
  margin-bottom: 0;
  padding-bottom: 0;
}

.right-side-bar ul {
  font-size: 14px;
  margin-top: 0;
  padding-top: 0;
}

.center {
  order: 2;
  flex-shrink: 3;
  position: absolute;
  right: 40%;
  left: 18%;
  top: 140px;
  bottom: 55px;
  overflow-y: auto;
}

.main-img {
  border-radius: 15px;
  max-width: 90%;
  max-height: 500px;
}
