<div class="body">

  <div class="left-side-bar" *ngFor="let project of projects">
    <div *ngIf="project == selectedProject">
      <div *ngFor="let image of project.mainImagePath">
        <img class="img-fluid main-img" alt="Weather Web App" src="{{image}}">
      </div>
    </div>
  </div>

  <div class="center">
    <div *ngFor="let project of projects">
      <div *ngIf="project == selectedProject">
        <a target="_blank" rel="noopener" href="{{project.codeUrl}}">
          <h3>{{project.title}}</h3>
        </a>
        <p class="hosted" *ngIf="project.hostedUrl">Hosted at <a target="_blank" rel="noopener"
                                                                 href="{{project.hostedUrl}}">{{project.hostedUrl}}</a>
        </p>
        <p>{{project.description}}</p>
        <p class="demonstrates">Demonstrates skill with:</p>
        <ul>
          <li *ngFor="let technology of project.technologiesUsed">{{technology}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="right-side-bar">
    <div class="upper-right-side-bar">
      <h3>Projects:</h3>
      <div *ngFor="let project of projects">
        <h5 (click)="onSelect(project)"><span [class.selected]="project === selectedProject">{{project.title}}</span>
        </h5>
      </div>
    </div>
    <!--    <app-technology></app-technology>-->
  </div>

</div>
